.Title {
  display: flex;
  position: absolute;
  top: 70px;
  left: 300px;
  font-size: 3em;
}

.ParentContainer {
  /* align-items: center; */
  display: flex;
  justify-content: center;
  /* background-color: brown; */
  height: 100vh;
  width: 100%;
}

.WorkContainer {
  width: 30%;
  height: 30%;
  position: absolute;
  right: 150px;
  top: 150px;
  background-color: rgb(129, 81, 18);
}

.InfoContainer {
  background-color: aquamarine;
  display: flex;
  position: absolute;
  right: 90%;
  top: 25%;
  width: 500px;
  height: 150px;
}

.Img {
  /* background-color: bisque; */
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
}

.ProjectContainer {
  width: 30%;
  height: 30%;
  position: absolute;
  left: 300px;
  bottom: 150px;
  background-color: rgb(31, 160, 31);
}

.ProjectInfoContainer {
  background-color: rgb(33, 107, 204);
  display: flex;
  position: absolute;
  left: 90%;
  top: 25%;
  width: 500px;
  height: 150px;
}

.ProjectImg {
  border: 3px solid black;
  border-radius: 5px;
  width: 100%;
}
