@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');

.Title {
  display: flex;
  position: absolute;
  top: 70px;
  left: 300px;
  font-size: 3em;
  font-family: 'Titillium Web', sans-serif;
  color: rgb(185, 197, 206);
  z-index: 1;
}

.ParentContainer {
  /* align-items: center; */
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100%;
}

.WorkContainer {
  width: 30%;
  height: 30%;
  position: absolute;
  right: 150px;
  top: 150px;
  /* background-color: rgb(129, 81, 18); */
}

.InfoContainer {
  background-color: #0E133B;
  border: 3px solid rgb(185, 197, 206);
  border-radius: 5px;
  display: flex;
  position: absolute;
  right: 90%;
  top: 25%;
  width: 500px;
  height: 150px;
  z-index: 1;
  color: rgb(185, 197, 206);
}

.par {
  width:100%;
 padding: 10px;
 font-family: 'Titillium Web', sans-serif;
}

.Img {
  /* background-color: bisque; */
  z-index: 2;
  width: 100%;
  border: 3px solid rgb(185, 197, 206);
  border-radius: 5px;
  
}

.ProjectContainer {
  width: 30%;
  height: 30%;
  position: absolute;
  left: 300px;
  bottom: 150px;
  z-index: 1;
  /* background-color: rgb(31, 160, 31); */
}

.ProjectInfoContainer {
  background-color: #F99840;
  border: 3px solid rgb(28, 28, 29);
  border-radius: 5px;
  display: flex;
  position: absolute;
  left: 90%;
  top: 25%;
  width: 500px;
  height: 150px;
  color: rgb(28, 28, 29);
  z-index: 1;
}

.ProjectImg {
  border: 3px solid black;
  border-radius: 5px;
  width: 100%;
}

.BackGroundContainer {
  position: absolute;
  z-index: 0;
  opacity: .2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.imgBorder {
  border: 5px solid #0E133B;
}